{% extends 'base.html' %} {%block head %}
<title>My Todo</title>
{% endblock %} {%block body %}
<div class="container md-3">
  <h2>Add a Todo</h2>
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title1" class="form-label">Todo Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="text" name="desc" class="form-control" id="desc" />
    </div>

    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
<div class="container my-3">
  <h2>My Todos</h2>
 
        {%if allTodo|length ==0%}
        <div class="alert alert-dark" role="alert">
            No Todos Found Add your first todo now
          </div>        {%else%}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">SNo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Creation Time</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
      {%for todo in allTodo%}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.date_created}}</td>
        <td>
        <a href="/delete/{{todo.sno}}"     type="button" class="btn btn-outline-dark">Delete</button>
        <a href="/update/{{todo.sno}}"     type="button" class="btn btn-outline-dark">update</button>
        </td>
      </tr>
      {%endfor%}

    </tbody>
</table>
      {%endif%}

</div>
{% endblock %}
